* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: "europa", sans-serif;
}

ul li {
  list-style: none;
}

.navbar-item img {
  margin: 50px;
}

.navbar-menu .navbar-button {
  float: right;
  border: 2px solid #926dfa;
  border-radius: 50px;
  margin-top: -100px;
  margin-right: 100px;
  padding: 15px;
  width: 10%;
  text-align: center;
  background-color: transparent;
}

.navbar-button a {
  color: #926dfa;
  font-size: 18px;
}

.navbar-button:hover {
  background-color: #926dfa;
  color: #fff;
  padding: 15px;
  border: 2px solid #926dfa;
  border-radius: 50px;
}

.navbar-button:hover a {
  color: #fff;
}

.hero {
  text-align: center;
}

.title {
  font-family: "europa", sans-serif;
  color: #293347;
  font-weight: 800;
  text-align: center;
}

.subtitle {
  font-family: "europa", sans-serif;
  font-weight: 10;
  line-height: 2.0;
  font-size: 1.0rem;
  color: rgba(10, 10, 10, 0.9);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.avatar {
  width: 210px;
  max-height: 210px;
}

.hero-foot img {
  max-width: 860px;
}

.section2 {
  padding-bottom: 18rem;
  background-color: #8C43FF;
  text-align: center;
  display: block;
}

.section2 h1,
.section2 h2 {
  color: #fff;
}

.section2 .container {
  margin: 0 auto;
  position: relative;
}

.section2 .column {
  padding: 70px;
}

.section2 .columns .title {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  font-family: "europa", sans-serif;
}

.section2 .columns .subtitle {
  text-align: center;
  width: 47%;
  margin-left: 310px;
}

.section2 .columns:last-child {
  margin-bottom: -.75rem;
}

.section3.skills {
  margin-top: -14rem;
  padding-bottom: 1rem;
}

.column figure.image {
  margin: 0 auto 2em;
}

.content figure {
  text-align: center;
}

.image {
  display: block;
  position: relative;
}

.section3 {
  padding: 5rem 1.5rem;
  text-align: center;
  font-family: "europa",sans-serif;
}

.section.skills .box .content .columns .column {
  padding: 70px 45px;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  color: #293347;
  display: block;
  padding: 1.25rem;
  border-radius: 12px;
}

.section3 .columns {
  display: flex;
}

.section3 .column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: center;
  font-family: "europa", sans-serif;
}

.section3.skills .box .content .columns .column {
  padding: 50px 30px;
  border-bottom: 1px solid #E6ECF8;
  border-right: 1px solid #E6ECF8;
}

.section3.skills .box .content .columns .column p.list-title {
  margin-top: 50px;
  margin-bottom: 8px;
}

.has-text-primary {
  color: #8C43FF !important;
}

.section4 img{
  display: block;
  max-width: 245px;
  max-height: 368px;
}