* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #293347;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  font-family: "europa", sans-serif;
}

a {
  text-decoration: none;
  font-family: "europa", sans-serif;
}

a:hover {
  text-decoration: none;
  color: #926dfa;
}

img {
  height: auto;
  max-width: 100%;
}

ul li {
  list-style: none;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.button {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  height: 2.25em;
  cursor: pointer;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.column {
  padding: 0.75rem;
}

a.navbar-item,
.navbar-link {
  cursor: pointer;
}

.navbar-brand a.navbar-item:hover {
  background-color: transparent;
}

.navbar-item {
  color: #4a4a4a;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-toggler-icon {
  color: #8c43ff;
}

.navbar-item img {
  max-height: 1.75rem;
}

.navbar .navbar-menu {
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 1px 0 0 #e6ecf8;
  box-shadow: none;
}

.navbar > .container .navbar-brand,
.container > .navbar .navbar-brand {
  margin-left: -0.75rem;
}

.container a.icon {
  display: none;
}

.section4 .project-grid figure img,
.section4 .project-grid .overlay {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.navbar .navbar-brand a.navbar-item img {
  max-height: 3rem;
  width: 52px;
}

.navbar .navbar-menu a.button.is-primary.is-outlined {
  border-width: 2px;
  font-weight: 400;
  font-size: 18px;
  padding: 1.2rem;
}

.navbar .navbar-menu .navbar-item {
  font-size: 18px;
  font-weight: 300;
  color: #293347;
}

.button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #8c43ff;
  color: #8c43ff;
}

.navbar-button a {
  color: #926dfa;
  font-size: 18px;
}

.hero {
  padding-top: 2rem;
}

.hero-body {
  max-width: 960px;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
  margin-left: 10%;
}

.hero-foot {
  padding: 0 1.5rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.title {
  font-family: "europa", sans-serif;
  color: #293347;
  font-weight: 800;
  font-size: 1.5rem;
}

footer.section ul {
  margin-bottom: 2rem;
}

footer .title {
  font-weight: 300;
  font-size: 1.6rem;
  margin: 2rem auto;
  max-width: 300px;
  opacity: 0.7;
}

.hero-body .title {
  font-size: 3rem;
}

.subtitle {
  font-family: "europa", sans-serif;
  font-weight: 10;
  line-height: 2;
  font-size: 1rem;
  color: rgba(10, 10, 10, 0.9);
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-body .subtitle {
  font-size: 1.5rem;
}

.avatar {
  margin: 2rem 0;
  width: 210px;
}

.section {
  padding: 5rem 1.5rem;
}

.section2 {
  padding-bottom: 18rem;
  background-color: #8c43ff;
}

.section.is-primary {
  background-color: #8c43ff;
  color: #fff;
}

.section2 h1,
.section2 h2 {
  color: #fff;
}

.section2 .container {
  margin: 0 auto;
}

.section2 .column {
  padding: 70px;
}

.section2 .columns .column .title {
  font-size: 2rem;
  line-height: 1.5;
  font-family: "europa", sans-serif;
}

.section2 .columns .column .subtitle {
  font-size: 1.2rem;
}

.section2 .columns:last-child {
  margin-bottom: -0.75rem;
}

.section3.skills {
  margin-top: -14rem;
  padding-bottom: 1rem;
}

.column figure.image {
  margin: 0 auto 2em;
}

.content figure {
  text-align: center;
}

.image {
  display: block;
  position: relative;
}

.section3,
.section4 {
  padding: 5rem 1.5rem;
  font-family: "europa", sans-serif;
}

.section.skills .box .content .columns .column {
  padding: 70px 45px;
}

.box {
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #293347;
  border-radius: 12px;
}

.section3.skills .box .content .columns .column {
  padding: 50px 30px;
}

.section3.skills .box .content .columns .column p.list-title {
  margin-top: 50px;
  margin-bottom: 8px;
}

.has-text-primary {
  color: #8c43ff;
}

.section4 {
  padding: 9rem 1.5rem;
}

.container.is-narrow {
  margin: 0 auto;
}

.section4 figcaption {
  text-align: center;
}

.section4 .project-grid {
  padding: 2rem 0 4rem;
}

.project-grid figure figcaption h1.title {
  color: #fff;
  margin-bottom: 1.8rem;
  font-weight: 500;
  font-size: 1.25rem;
  font-family: "eurostile", sans-serif;
  line-height: 1.125;
}

.section4 .project-grid figure img.project-thumb {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.section4 .columns:last-child {
  margin-bottom: -0.75rem;
}

.section4 .project-grid .overlay {
  background-color: #293347;
}

.section4 .project-grid .overlay,
.section4 .project-grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.45s ease-in-out;
  transition: 0.45s ease-in-out;
}

.callout a.button {
  padding: 0.5em 2em;
}

.call-to-action a.button {
  padding: 0.5em 2em;
}

footer .social-icons a.button {
  background-color: transparent;
  color: #fff;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-size: 1.18rem;
}

.section4 figcaption a,
.section4 .dribble a.button {
  border: 2px solid #926dfa;
  background-color: transparent;
}

.section4 .dribble a.button {
  padding: 0.5em 2em;
  font-weight: 400;
  border-width: 2px;
  margin-top: 2rem;
  background-color: transparent;
  border-color: #8c43ff;
  color: #8c43ff;
  font-size: 1.25rem;
  width: 100%;
}

.navbar-item a.button:hover {
  background-color: #926dfa;
  color: #fff;
  border: 2px solid #926dfa;
}

.callout a.button:hover {
  background-color: #926dfa;
  color: #fff;
  border: 2px solid #926dfa;
}

.call-to-action a.button:hover {
  background-color: #926dfa;
  color: #fff;
  border: 2px solid #926dfa;
}

footer .social-icons a.button:hover {
  background: #fff;
  color: #8c43ff;
  border: 2px solid #fff;
}

.section4 .project-grid figure figcaption a.button {
  background-color: transparent;
  border-color: #8c43ff;
}

.section4 .dribble a.button:hover {
  background-color: #926dfa;
  color: #fff;
  border: 2px solid #926dfa;
  padding: 0.5em 2em;
}

.section4 .project-grid figure figcaption a.button:hover {
  background-color: #926dfa;
  color: #fff;
  border: 2px solid #926dfa;
}

.section4 .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded {
  margin: 0 auto;
  font-size: 18px;
  padding: 5px;
  font-weight: 400;
  border-width: 2px;
  color: #fff;
}

.section4 .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded span.icon {
  margin-top: 0;
  margin-left: 2px;
}

.section4 .dribble.column a.icon:hover {
  color: #fff;
}

.section4 .project-grid figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  color: #fff;
  z-index: 1;
}

.section4 .project-grid figure:hover .overlay,
.section4 .project-grid figure:hover figcaption {
  opacity: 1;
}

.section5 {
  padding-bottom: 13rem;
}

.section.startups {
  padding-bottom: 9rem;
  margin-top: -14rem;
}

.section.call-to-action .box {
  padding: 3.5rem 1.25rem;
  margin-top: -9rem;
  background-color: #293347;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #293347;
}

.section.startups .startup-grid .box {
  padding: 60px 35px;
}

.section.startups .startup-grid .box p {
  font-size: 16px;
  margin-bottom: 2rem;
}

.section.startups .startup-grid .box img.logo {
  height: 42px;
  width: auto;
  margin-bottom: 2rem;
}

.section.startups .startup-grid .box a.link {
  font-weight: 400;
  font-size: 16px;
  border: none;
}

footer .social-icons {
  margin: 0 auto 3.5rem;
}

footer .copyright {
  opacity: 0.7;
}

footer .social-icons a.button .icon.is-small {
  width: 1.4em;
  height: 1.4em;
}

footer .social-icons a.button.is-medium {
  font-size: 1.18rem;
}

.fa-fw {
  width: 1.25em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

footer .copyright .icon {
  margin-top: -1px;
  margin-left: 1px;
}
